*{
    margin: 0;
    padding: 0;
}


body::before {
    display: block;
    content: '';
    height: 60px;
  }
 
  .animacion:hover{
     animation: nosotros 1s;

  }

  @keyframes nosotros{
    0%{
      scale: 1;
    }
    25%{
      scale: 2;
    }
    50%{
      scale: 3;
    }
  }
  
 
  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }