@import "_generales.scss";


body::before{
    display: block;
    content: '';
    height: 60px;
  }
 
  
  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }

  .cards{
    display: flex;
    width: 100vw;
    margin: auto;
  }
 